{% extends "pets_adopt/base.html" %}
{% load staticfiles %}
{% block extend_css %}
    <style type="text/css">
    .carousel-caption {
  margin-bottom: 150px;
}
    </style>
{% endblock %}
{% block carousel %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{% static 'carousel/dog1.jpg' %}" class="first-slide" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>歡迎來到，狗日子的第十三日</h1>
          <h3>我們希望，所有的流浪動物都能有個家</h3>
          <p><a class="btn btn-lg btn-primary" href="{% url 'questionnaire' %}" role="button">請先進行自我評估</a></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="{% static 'carousel/cat1.jpg' %}" class="second-slide" alt="Second-slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>支持流浪貓狗絕育計畫</h1>
          <p><a class="btn btn-lg btn-primary" href="http://www.tnrtw.org/" role="button" target="_blank">助紮計畫</a></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="{% static 'carousel/dog2.jpg' %}" class="third-slide" alt="Third-slide">
      <div class="container">
        <div class="carousel-caption">
          <h1 style="color:black;">認養零距離</h1>
          <h3 style="color:black;">請以認養代替購買</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endblock %}
{% block content %}

    <div class="row index-pet-show">
      <div class="col-lg-6">
      <h3>我想有個家</h3>
      {% for show in pet_not_adopt %}
            <div class="row pet-search-item">
                <div class="col-md-3">
                    <img src="{{ MEDIA_URL }}{{ show.photo }}" class="img-thumbnail"
                         height="128px" width="128px">
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>名字：<a href="{% url 'pet_detail' pets_id=show.id %}">{{ show.pet_name }}</a></p>
                        </div>
                        <div class="col-sm-4">
                            <p>體型：{{ show.get_size_display }}</p>
                        </div>
                        <div class="col-sm-4">
                            <p>性別：{{ show.get_sex_display }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p>種類：{{ show.get_dog_or_cat_display }}</p>
                        </div>
                        <div class="col-sm-4">
                            <p>地區：{{ show.get_area_display }}</p>
                        </div>
                        <div class="col-sm-4">
                            <p>毛色：{{ show.get_color_display }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>簡介：{{ show.content | safe | truncatechars_html:40 }}</p>
                        </div>
                    </div>
                </div>
            </div>
      {% endfor %}
      </div>
      <div class="row index-pet-show">
        <div class="col-lg-6">
      <h3>我有新家了</h3>
      {% for show in pet_have_adopt %}
            <div class="row pet-search-item">
                <div class="col-md-3">
                    <img src="{{ MEDIA_URL }}{{ show.photo }}" class="img-thumbnail"
                         height="128px" width="128px">
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>名字：<a href="{% url 'pet_detail' pets_id=show.id %}">{{ show.pet_name }}</a></p>
                        </div>
                        <div class="col-sm-4">
                            <p>體型：{{ show.get_size_display }}</p>
                        </div>
                        <div class="col-sm-4">
                            <p>性別：{{ show.get_sex_display }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p>種類：{{ show.get_dog_or_cat_display }}</p>
                        </div>
                        <div class="col-sm-4">
                            <p>地區：{{ show.get_area_display }}</p>
                        </div>
                        <div class="col-sm-4">
                            <p>毛色：{{ show.get_color_display }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>簡介：{{ show.content | safe | truncatechars_html:40 }}</p>
                        </div>
                    </div>
                </div>
            </div>
      {% endfor %}
        </div>
      </div>
   </div>
 {% endblock %}
