{% extends "pets_adopt/base.html" %}

{% block content %}
    <a href="/blog/{{ pet.id }}">
        <button type="submit" class="btn btn-default">看看{{ pet.pet_name }}的日誌</button>
    </a>
    {% if user.is_authenticated %}
        {% if can_adopt == 2 %}
        <a href="#">
            <button type="submit" class="btn btn-default">{{ pet.pet_name }}已經被領養走了</button>
        </a>
        {% elif can_adopt == 1 %}
        <a href="#">
            <button type="submit" class="btn btn-default">你是{{ pet.pet_name }}的主人</button>
        </a>
        {% else %}
        <a href="/post/adopt/{{ pet.id }}">
            <button type="submit" class="btn btn-default">我要領養{{ pet.pet_name }}</button>
        </a>
        {% endif %}

    {% else %}
         <a href="{% url 'login' %}">
            <button type="submit" class="btn btn-default">請先登入</button>
        </a>
    {% endif %}
    {% if pet.state == 1 %}
        <h1>新主人</h1>
        <a href="{% url 'user_detail' user_id=pet.pet_owner.id %}">{{ pet.pet_owner }}</a>
    {% endif %}
    <h1>發怖者</h1>
    <a href="{% url 'user_detail' user_id=pet.pet_publisher.id %}">{{ pet.pet_publisher }}</a>
    <h1>狗狗名字</h1>
    {{ pet.pet_name }}
    <h1>狗狗領養狀態</h1>
    {{ pet.get_state_display }}
    <h1>狗狗介紹</h1>
    {{ pet.content }}
    <h1>毛色</h1>
    {{ pet.get_color_display }}
    <h1>結紮</h1>
    {{ pet.get_neuter_display }}
    <h1>照片</h1>
    <img src="{{ MEDIA_URL }}{{ pet.photo }}">
    <br/>
    <a href="{% url 'index' %}">回首頁</a>
{% endblock %}