{% extends "pets_adopt/base.html" %}

{% block content %}
    <h1>發怖者</h1>
    {{ pet.pet_publisher }}
    <h1>狗狗名字</h1>
    {{ pet.pet_name }}
    <h1>狗狗領養狀態</h1>
    {{ pet.get_state_display }}
    <h1>狗狗介紹</h1>
    {{ pet.content }}
    <h1>毛色</h1>
    {{ pet.color }}
    <h1>照片</h1>
    <img src="{{ MEDIA_URL }}{{ pet.photo }}">
    <br/>
    {% if user.is_authenticated %}
        <a href="/post/adopt/{{ pet.id }}">我要領養</a><br/>
    {% else %}
        <p>請先登入</p>
    {% endif %}
    <a href="/blog/{{ pet.id }}">來看{{ pet.pet_name }}的blog</a> <br>
    <a href="{% url 'index' %}">回首頁</a>
{% endblock %}