{% extends "pets_adopt/base.html" %}

{% block content %}
    <h3>搜尋你心目中的的寵物</h3>
    <div class="row">
    <form action="{% url 'pets_adopt.views.pet.pet_search' %}" method="post">
    {% csrf_token %}
    <div class="col-md-1">
        <p>狗或貓</p>
        <select name="species" class="form-control">
            <option value="-1">所有</option>
            {% for item in pet.dog_or_cat_choice %}
                <option value="{{ item.0 }}" {% if item.0 == need_array.0 %}selected{% endif %}>
                    {{ item.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2">
        <p>性別</p>
        <select name="sex" class="form-control">
            <option value="-1">所有</option>
            {% for item in pet.sex_choice %}
                <option value="{{ item.0 }}" {% if item.0 == need_array.1 %}selected{% endif %}>
                    {{ item.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2">
        <p>地區</p>
        <select name="area" class="form-control">
            <option value="-1">所有</option>
            {% for item in pet.area_choice %}
                <option value="{{ item.0 }}" {% if item.0 == need_array.2 %}selected{% endif %}>
                    {{ item.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2">
        <p>體型</p>
        <select name="size" class="form-control">
            <option value="-1">所有</option>
            {% for item in pet.size_choice %}
                <option value="{{ item.0 }}" {% if item.0 == need_array.3 %}selected{% endif %}>
                    {{ item.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2">
        <p>年齡</p>
        <select name="age" class="form-control">
            <option value="-1">所有</option>
            {% for item in pet.age_choice %}
                <option value="{{ item.0 }}" {% if item.0 == need_array.4 %}selected{% endif %}>
                    {{ item.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2">
        <p>毛色</p>
        <select name="color" class="form-control">
            <option value="-1">所有</option>
            {% for item in pet.color_choice %}
                <option value="{{ item.0 }}" {% if item.0 == need_array.5 %}selected{% endif %}>
                    {{ item.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-1">
        <button type="submit" class="btn btn-default">提交</button>
    </div>
    </form>
    </div>

    <div>
    {% if shows %}
        <div class="row index-pet-show">
            <div class="col-lg-12">
        <h3>符合條件的寵物</h3>
        {% for show in shows %}
            <div class="row pet-search-item">
                <div class="col-md-3">
                    <img src="{{ MEDIA_URL }}{{ show.photo }}" class="img-thumbnail"
                         height="128px" width="128px">
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>名字：<a href="{% url 'pet_detail' pets_id=show.id %}">{{ show.pet_name }}</a></p>
                        </div>
                        <div class="col-sm-4">
                            <p>體型：{{ show.get_size_display }}</p>
                        </div>
                        <div class="col-sm-4">
                            <p>性別：{{ show.get_sex_display }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p>種類：{{ show.get_dog_or_cat_display }}</p>
                        </div>
                        <div class="col-sm-4">
                            <p>地區：{{ show.get_area_display }}</p>
                        </div>
                        <div class="col-sm-4">
                            <p>毛色：{{ show.get_color_display }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>簡介：{{ show.content | safe | truncatechars_html:40 }}</p>
                        </div>
                    </div>
                </div>

            </div>
          {% endfor %}
            </div>
          </div>
    {% else %}
        <p>抱歉，沒有找到符合要求的寵物哦</p>
    {% endif %}
    </div>
{% endblock %}