#messages {
    width: 50%;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 25%;
    box-shadow: 3px 4px 10px;
    z-index: 100;
}


/***************start of base.html****************/
.base-template {
    padding-top: 80px;
}
.base-template h3{
    text-align: center;
}
.errorlist {
    color: red;
}
/***************end of base.html****************/


/***************start of login.html****************/
#login-form {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    margin-top: 30px;
}
#login-contain {
    margin-top: 8%;
}
#login-contain h1{
    text-align: center;
}
/***************end of login.html****************/


/***************start of index.html****************/
.index-pet-show {
    margin-top: -50px;
}
/***************end of index.html****************/


/***************start of signup.html****************/
.signup-form {
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
}
#signup-contain h1{
    text-align: center;
}
/***************end of signup.html****************/


/***************start of post_a_pet.html****************/
#post-pet-contain h1{
    text-align: center;
}
.post-pet-form {
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
}
/***************end of post_a_pet.html****************/


/***************start of user_edit.html****************/
.user-edit-form {
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
}
/***************end of user_edit.html****************/