@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
    font-family: 'Open Sans','Noto Sans TC', sans-serif;
}

#messages {
    width: 50%;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 25%;
    box-shadow: 3px 4px 10px;
    z-index: 100;
}


/***************start of base.html****************/
.base-template {
    padding-top: 80px;
}
.base-template h3{
    text-align: center;
}
.errorlist {
    color: red;
}

td
{
    max-width: 220px;
    word-wrap: break-word;
}
/***************end of base.html****************/


/***************start of login.html****************/
#login-form {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    margin-top: 30px;
}
#login-contain {
    margin-top: 8%;
}
#login-contain h1{
    text-align: center;
}
/***************end of login.html****************/


/***************start of index.html****************/
.index-pet-show {
    margin-top: -50px;
}
/***************end of index.html****************/


/***************start of signup.html****************/
.signup-form {
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
}
#signup-contain h1{
    text-align: center;
}
/***************end of signup.html****************/


/***************start of post_a_pet.html****************/
#post-pet-contain h1{
    text-align: center;
}
.post-pet-form {
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
}
/***************end of post_a_pet.html****************/


/***************start of user_edit.html****************/
.user-edit-form {
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
}
/***************end of user_edit.html****************/


/***************start of sent_form.html****************/
#adopt-sent-form {
    width: 80%;
    margin-left: 10%;
}
/***************end of sent_form.html****************/


/***************start of post_new.html****************/
.form-page-contain {
    width: 80%;
    margin-left: 10%;
}
.form-page-contain h2 {
    text-align: center;
}
#post-new-form {
    margin-top: 30px;
}
/***************end of post_new.html****************/


/***************start of pets_detail.html****************/
.post-detail-right-part {
    margin-bottom: 10px;
}
#pet-detail-picture {
    width: 100%;
}
/***************end of pets_detail.html****************/
