{% extends "pets_adopt/base.html" %}
<div id="fb-root"></div>
{% block content %}
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5&appId=882635961855402";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="row">
      <div class="col-lg-6">
        {% if can_post == True %}
          <a href="/blog/new/{{ pet.id }}">
            <button type="submit" class="btn btn-primary">發布一篇{{ pet.pet_name }}的日誌</button>
          </a> <br/>
        {% endif %}
        {% for post in posts %}
            <table class="table table-bordered">
              <tr><td>{{ post.title }}</td></tr>
              <tr><td>作者：<a href="{% url 'user_detail' user_id=pet.pet_owner.id %}" target="_blank">{{ pet.pet_owner }}</a></td></tr>
              <tr><td>{{ post.content }}</td></tr>
              <tr><td><img src="{{ MEDIA_URL }}{{ post.photo }}" width="30%"></td></tr>
              <tr><td>發文日期:{{ post.published_date }}</td></tr>
            </table>
        {% endfor %}
      </div>
      <div class="col-lg-6">
      <div class="fb-comments" data-href="http://127.0.0.1:8000/blog/{{ pet.id }}" data-numposts="5"></div>
      </div>
    </div>
{% endblock %}