{% extends "pets_adopt/base.html" %}
{% block content %}
    {% if adopt %}
    <br>
    <div class="row index-pet-show">
        <div class="col-lg-12">
        <h3>你送養中的寵物</h3>
        {% for show in adopt %}
            <div class="row pet-search-item">
                <div class="col-md-3">
                    <img src="{{ MEDIA_URL }}{{ show.adopt_pet.photo }}" class="img-thumbnail"
                         height="128px" width="128px">
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>名字：<a href="{% url 'pet_detail' pets_id=show.adopt_pet.id %}">{{ show.adopt_pet.pet_name }}</a></p>
                        </div>
                        <div class="col-sm-4">
                            <p>體型：{{ show.adopt_pet.get_size_display }}</p>
                        </div>
                        <div class="col-sm-4">
                            <p>性別：{{ show.adopt_pet.get_sex_display }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p>種類：{{ show.adopt_pet.get_dog_or_cat_display }}</p>
                        </div>
                        <div class="col-sm-4">
                            <p>地區：{{ show.adopt_pet.get_area_display }}</p>
                        </div>
                        <div class="col-sm-4">
                            <p>毛色：{{ show.adopt_pet_color_display }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>簡介：{{ show.adopt_pet.content | safe | truncatechars_html:40 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <a href="{% url 'user_check_confirm' %}"><h4>檢查收養狀態</h4></a>
        </div>
    {% else %}
        <h3>你目前還沒有想收養的寵物</h3>
    {% endif %}
    </div>
{% endblock %}