<!--object:standby_pets,sent_pets -->
{% extends "pets_adopt/base.html" %}
{% block content %}
    <h2>還沒送養的寵物：</h2>
    {% for each_standby_pets in standby_pets %}
        有人要養:
        <p>{{ each_standby_pets.adopt_pet }}</p> <br/>
        那個人是:
        <p>{{ each_standby_pets.adopt_person }}</p> <br/>
        理由:
        <p>{{ each_standby_pets.content }}</p>
        <a href="pet_confirm/{{ each_standby_pets.id }}">
            <button>就是他了</button>
        </a>
        </br><br/>
    {% endfor %}
    <h2>已經送養的寵物：</h2>
    {% for each_sent_pets in sent_pets %}
        <p>{{ each_sent_pets.pet_name }}</p><br/>
    {% endfor %}
{% endblock %}
